
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins', sans-serif;
}

:root{
    --primary:#4da6ff;
    --secondary:#0f172a;
    --white:#ffffff;
    --light:#f4f9ff;
    --dark:#111827;
}

body{
    background:var(--light);
    color:var(--dark);
    transition:0.4s ease;
}

body.dark{
    background:#0b1220;
    color:white;
}

/* Navbar */
.navbar{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 8%;
    background:white;
    position:sticky;
    top:0;
    z-index:1000;
    box-shadow:0 2px 15px rgba(0,0,0,0.1);
}

body.dark .navbar{
    background:#111827;
}

.logo{
    font-size:28px;
    font-weight:700;
    color:var(--secondary);
}

.logo span{
    color:var(--primary);
}

body.dark .logo{
    color:white;
}

nav ul{
    display:flex;
    gap:25px;
    list-style:none;
}

nav ul li a{
}
